body {
    margin: 0;
    font-family: sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(
        106.37deg,
        #ffe1bc 50%, 
        #edb180 100%
    )
}

.container {
    display: flex;
    width: 328px;
    flex-direction: column;
    gap: 1px; 
    background-color: #1f2937;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.display-current-container {
    direction: rtl;
    overflow-x: auto;    
    white-space: nowrap;   
    text-align: right;    
    max-width: 100%;    
  }
  

.display {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 6rem; 
    justify-content: space-between;
}


  
.display-row {
    display: flex;
    flex-direction: row;
    width: 100%; 
    gap: 0.25rem; 
}
  
.display-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.375rem; 
}
  
.display-dot.red {
    background-color: #f87171;
}
  
.display-dot.orange {
    background-color: #fb923c;
}
  
.display-dot.green {
    background-color: #22c55e;
}
  
.display-value {
    align-self: flex-end; 
    color: white;
    font-size: 2.25rem; 
}

.previous {
    font-size: 1.25rem; 
}

.current {
    font-size: 2.25rem; 
}


.row {
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    gap: 1px; 
}



.button {
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-text {
    color: white; 
    font-size: 1.25rem; 
}
  
.primary {
    background-color: #fb923c;
}
.primary:hover { background-color: rgba(251,146,60,0.9); }
.primary:focus { background-color: rgba(251,146,60,0.75); }
  
.secondary {
    background-color: #52525b;
}
.secondary:hover { background-color: rgba(82,82,91,0.9); }
.secondary:focus { background-color: rgba(82,82,91,0.75); }
  
.tertiary {
    background-color: #737373;
}
.tertiary:hover { background-color: rgba(115,115,115,0.9); }
.tertiary:focus { background-color: rgba(115,115,115,0.75); }
  
.span-0 { grid-column: span 1; }
.span-1 { grid-column: span 2; }